<%- include('./fragments/header.ejs') %>
<main>
    <h1 style="color: red;">Wystąpił błąd!</h1>
    <h3><%= message %></h1>
    <h4><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</main>
<%- include('./fragments/footer.ejs') %>
