<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista jednostek</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Etykieta</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <% for (const unit of units) { %>
            <tr>
                <td><%= unit.label %></td>
                <td><%= unit.name %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="<%= navLocation %>/details/<%=unit.id%>" class="list-actions-button-details material-symbols-outlined">info</a></li>
                        <li><a href="<%= navLocation %>/edit/<%=unit.id%>" class="list-actions-button-edit material-symbols-outlined">edit</a></li>
                        <li><a href="<%= navLocation %>/delete/<%=unit.id%>" class="list-actions-button-delete material-symbols-outlined">delete</a></li>
                    </ul>
                </td>
            </tr>
            <% } %>                  
        </tbody>
    </table>
    <p><a href="<%= navLocation %>/add" class="button-add">Dodaj nową jendostkę</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>