<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista sklepów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Miejscowość</th>
                    <th>Ulica</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (const store of stores) { %>
                <tr>
                    <td><%= store.name %></td>
                    <td><%= store.city %></td>
                    <td><%= store.street %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="<%= navLocation %>/details/<%=store.id%>" class="list-actions-button-details material-symbols-outlined">info</a></li>
                            <li><a href="<%= navLocation %>/edit/<%=store.id%>" class="list-actions-button-edit material-symbols-outlined">edit</a></li>
                            <li><a href="<%= navLocation %>/delete/<%=store.id%>" class="list-actions-button-delete material-symbols-outlined">delete</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>                  
            </tbody>
        </table>
        <p><a href="<%= navLocation %>/add" class="button-add">Dodaj nowy sklep</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>