<footer>
    Jakub Sikorski s22518
    <span class="lang-box">
        <a href="/changeLang/pl?redirectURL=<%=path%>" class="<%= lang === 'pl' ? 'active' : '' %>">PL</a>
        <a href="/changeLang/en?redirectURL=<%=path%>" class="<%= lang === 'en' ? 'active' : '' %>">EN</a>
    </span>
</footer>
<% if (typeof formMode !== 'undefined') { %>
    <script>
        const formMode = '<%=formMode%>';
        const inputs = document.querySelectorAll('.form input:not(.form-button-submit), .form select, .form textarea')
        if (inputs) {
            inputs.forEach(input => {
                input.disabled = formMode === 'details';
            })
        }
    </script>
<% } %>
<script>
    document.querySelectorAll('a.back-link')
        .forEach(link => {
            link.setAttribute('href', document.referrer)
        })
</script>
</body>
</html>